USE [master]
GO
/****** Object:  Database [Hiring]    Script Date: 10/7/2024 10:44:44 ******/
CREATE DATABASE [Hiring]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hiring', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Hiring.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hiring_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Hiring_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hiring].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hiring]
GO
/****** Object:  User [alumno]    Script Date: 10/7/2024 10:44:44 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Certificacion]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](max) NOT NULL,
	[empresa_emisora] [varchar](max) NOT NULL,
	[id_credencial] [int] NOT NULL,
	[url_credencial] [varchar](max) NULL,
 CONSTRAINT [PK_Certificacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cud]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cud](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](max) NOT NULL,
 CONSTRAINT [PK_CUD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discapacidad]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discapacidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](max) NULL,
 CONSTRAINT [PK_Discapacidad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Educacion]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Educacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](max) NOT NULL,
	[nombre_institucion] [varchar](max) NOT NULL,
	[disciplina_academica] [varchar](max) NULL,
	[actividades_grupo] [varchar](max) NULL,
	[descripcion] [varchar](max) NULL,
	[id_info_educacion] [int] NOT NULL,
 CONSTRAINT [PK_Educacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habilidad]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habilidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tag] [varchar](max) NULL,
 CONSTRAINT [PK_Habilidad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informacion_Empleado_Certificacion]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informacion_Empleado_Certificacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_expedicion] [date] NOT NULL,
	[fecha_caducidad] [date] NULL,
	[id_info_empleado] [int] NOT NULL,
	[id_certificacion] [int] NOT NULL,
	[id_usuario_multimedia] [int] NULL,
 CONSTRAINT [PK_Informacion_Empleado_Certificacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informacion_Empleado_Cud]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informacion_Empleado_Cud](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_expedicion] [date] NOT NULL,
	[fecha_caducidad] [date] NOT NULL,
	[id_info_empleado] [int] NOT NULL,
	[id_cud] [int] NOT NULL,
	[id_usuario_multimedia] [int] NULL,
 CONSTRAINT [PK_Informacion_Empleado_Cud] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informacion_Empleado_Educacion]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informacion_Empleado_Educacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_expedicion] [date] NOT NULL,
	[fecha_caducidad] [date] NOT NULL,
	[id_info_empleado] [int] NOT NULL,
 CONSTRAINT [PK_Informacion_Empleado_Educacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informacion_Empleado_Habilidad]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informacion_Empleado_Habilidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_info_empleado] [int] NOT NULL,
	[id_habilidad] [int] NOT NULL,
 CONSTRAINT [PK_Informacion_Empleado_Habilidad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informacion_Empleado_Idioma]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informacion_Empleado_Idioma](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_info_empleado] [int] NOT NULL,
	[id_idioma] [int] NOT NULL,
 CONSTRAINT [PK_Informacion_Empleado_Idioma] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informacion_Personal_Empleado]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informacion_Personal_Empleado](
	[id] [int] NULL,
	[nombre_apellido] [varchar](max) NULL,
	[mail] [varchar](max) NULL,
	[telefono] [varchar](50) NULL,
	[acerca_de_mi] [varchar](max) NULL,
	[profesion_actual] [varchar](max) NULL,
	[estilo] [varchar](max) NULL,
	[ubicacion] [varchar](max) NULL,
	[id_multimedia] [int] NULL,
	[sitio_web] [varchar](max) NULL,
	[foto_perfil] [varchar](max) NULL,
	[encabezado] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Multimedia]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Multimedia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[url] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Multimedia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Necesidad]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Necesidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_info_empleado] [int] NOT NULL,
	[nombre] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Necesidad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Mail] [varchar](320) NOT NULL,
	[Contraseña] [varchar](15) NOT NULL,
	[id_discapacidad] [int] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Multimedia]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Multimedia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_info_empleado] [int] NOT NULL,
	[id_multimedia] [int] NOT NULL,
 CONSTRAINT [PK_Usuario_Multimedia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Discapacidad] ON 

INSERT [dbo].[Discapacidad] ([id], [nombre]) VALUES (1, N'no_lee')
INSERT [dbo].[Discapacidad] ([id], [nombre]) VALUES (2, N'lee')
SET IDENTITY_INSERT [dbo].[Discapacidad] OFF
GO
INSERT [dbo].[Informacion_Personal_Empleado] ([id], [nombre_apellido], [mail], [telefono], [acerca_de_mi], [profesion_actual], [estilo], [ubicacion], [id_multimedia], [sitio_web], [foto_perfil], [encabezado]) VALUES (1, N'Tu nombre', N'', N'', NULL, NULL, N'#ABE7DD', NULL, NULL, NULL, N'../img/default/foto_Default.png', N'encabezado.png')
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [Mail], [Contraseña], [id_discapacidad]) VALUES (1, N'yaesaroka@gmail.com', N'123645', 1)
INSERT [dbo].[Usuario] ([id], [Mail], [Contraseña], [id_discapacidad]) VALUES (2, N'sarah_maqui@gmail.com', N'123645', 1)
INSERT [dbo].[Usuario] ([id], [Mail], [Contraseña], [id_discapacidad]) VALUES (3, N'gdsgdsg@gmail.com', N'123645', NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Educacion]  WITH CHECK ADD  CONSTRAINT [FK_Educacion_Informacion_Empleado_Educacion] FOREIGN KEY([id_info_educacion])
REFERENCES [dbo].[Informacion_Empleado_Educacion] ([id])
GO
ALTER TABLE [dbo].[Educacion] CHECK CONSTRAINT [FK_Educacion_Informacion_Empleado_Educacion]
GO
ALTER TABLE [dbo].[Informacion_Empleado_Certificacion]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Empleado_Certificacion_Certificacion] FOREIGN KEY([id_certificacion])
REFERENCES [dbo].[Certificacion] ([id])
GO
ALTER TABLE [dbo].[Informacion_Empleado_Certificacion] CHECK CONSTRAINT [FK_Informacion_Empleado_Certificacion_Certificacion]
GO
ALTER TABLE [dbo].[Informacion_Empleado_Certificacion]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Empleado_Certificacion_Usuario_Multimedia] FOREIGN KEY([id_usuario_multimedia])
REFERENCES [dbo].[Usuario_Multimedia] ([id])
GO
ALTER TABLE [dbo].[Informacion_Empleado_Certificacion] CHECK CONSTRAINT [FK_Informacion_Empleado_Certificacion_Usuario_Multimedia]
GO
ALTER TABLE [dbo].[Informacion_Empleado_Cud]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Empleado_Cud_CUD] FOREIGN KEY([id_cud])
REFERENCES [dbo].[Cud] ([id])
GO
ALTER TABLE [dbo].[Informacion_Empleado_Cud] CHECK CONSTRAINT [FK_Informacion_Empleado_Cud_CUD]
GO
ALTER TABLE [dbo].[Informacion_Empleado_Cud]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Empleado_Cud_Usuario_Multimedia] FOREIGN KEY([id_usuario_multimedia])
REFERENCES [dbo].[Usuario_Multimedia] ([id])
GO
ALTER TABLE [dbo].[Informacion_Empleado_Cud] CHECK CONSTRAINT [FK_Informacion_Empleado_Cud_Usuario_Multimedia]
GO
ALTER TABLE [dbo].[Informacion_Empleado_Habilidad]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Empleado_Habilidad_Habilidad] FOREIGN KEY([id_habilidad])
REFERENCES [dbo].[Habilidad] ([id])
GO
ALTER TABLE [dbo].[Informacion_Empleado_Habilidad] CHECK CONSTRAINT [FK_Informacion_Empleado_Habilidad_Habilidad]
GO
ALTER TABLE [dbo].[Informacion_Empleado_Idioma]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Empleado_Idioma_Idioma] FOREIGN KEY([id_idioma])
REFERENCES [dbo].[Idioma] ([id])
GO
ALTER TABLE [dbo].[Informacion_Empleado_Idioma] CHECK CONSTRAINT [FK_Informacion_Empleado_Idioma_Idioma]
GO
ALTER TABLE [dbo].[Informacion_Personal_Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Personal_Empleado_Usuario] FOREIGN KEY([id])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Informacion_Personal_Empleado] CHECK CONSTRAINT [FK_Informacion_Personal_Empleado_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Discapacidad] FOREIGN KEY([id_discapacidad])
REFERENCES [dbo].[Discapacidad] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Discapacidad]
GO
ALTER TABLE [dbo].[Usuario_Multimedia]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Multimedia_Multimedia] FOREIGN KEY([id_multimedia])
REFERENCES [dbo].[Multimedia] ([id])
GO
ALTER TABLE [dbo].[Usuario_Multimedia] CHECK CONSTRAINT [FK_Usuario_Multimedia_Multimedia]
GO
/****** Object:  StoredProcedure [dbo].[CargaPerfilDefault]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CargaPerfilDefault]
	-- Add the parameters for the stored procedure here
	@id int, @estilo varchar(10), @foto_perfil varchar(max), @encabezado varchar(max), @nombre_apellido varchar(max), @telefono varchar(max), @mail varchar(320)
AS
BEGIN
	INSERT INTO Informacion_Personal_Empleado(id,estilo,foto_perfil,encabezado, nombre_apellido, telefono, mail)
	VALUES (@id,   @estilo,   @foto_perfil,   @encabezado,    @nombre_apellido,    @telefono,    @mail)
	 
END
GO
/****** Object:  StoredProcedure [dbo].[CargarPerfilLogin]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CargarPerfilLogin]
	-- Add the parameters for the stored procedure here
	@id int
AS
BEGIN
	SELECT * FROM Informacion_Personal_Empleado
	WHERE id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarInformacionEmpleadoEducacion]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarInformacionEmpleadoEducacion]
	@fecha_expedicion DATE, @fecha_caducidad DATE, @id_info_empleado int
AS 
BEGIN
	INSERT INTO Informacion_Empleado_Educacion(fecha_expedicion,fecha_caducidad, id_info_empleado)
	VALUES (@fecha_expedicion, @fecha_caducidad,@id_info_empleado)
END 
GO
/****** Object:  StoredProcedure [dbo].[InsertarInformacionPersonalEmpleado1]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarInformacionPersonalEmpleado1]
	@id int, @Nombre_Apellido varchar(max), @Mail varchar(254),@telefono varchar(max),  @estilo varchar(max)
	AS
BEGIN
	UPDATE Informacion_Personal_Empleado
	SET nombre_apellido = @Nombre_Apellido , mail= @Mail ,telefono= @telefono, estilo= @estilo 
	WHERE id = @id

END
GO
/****** Object:  StoredProcedure [dbo].[InsertarInformacionPersonalEmpleado2]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarInformacionPersonalEmpleado2]
	 @id int, @acerca_de_mi varchar(max), @profesion_actual varchar(max), @ubicacion varchar(max), @foto_perfil varchar(max)
AS
BEGIN
	UPDATE Informacion_Personal_Empleado
	SET acerca_de_mi = @acerca_de_mi , profesion_actual= @profesion_actual ,ubicacion= @ubicacion, foto_perfil= @foto_perfil 
	WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarNecesidad]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarNecesidad]
	@Nombre varchar(max), @id_info_empleado int
AS
BEGIN
	INSERT INTO Necesidad
	VALUES (@Nombre, @id_info_empleado)
END
GO
/****** Object:  StoredProcedure [dbo].[Login_VerificarContraseña]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Login_VerificarContraseña]
	-- Add the parameters for the stored procedure here
	@Contraseña varchar(150)
AS
BEGIN
	SELECT Contraseña FROM Usuario WHERE  @Contraseña=Contraseña 
END
GO
/****** Object:  StoredProcedure [dbo].[LoginUsuario]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoginUsuario]
	-- Add the parameters for the stored procedure here
	@pMail varchar(150), @pContraseña varchar(150)
AS
BEGIN
	SELECT * FROM Usuario WHERE @pMail=Mail AND @pContraseña=Contraseña
END
GO
/****** Object:  StoredProcedure [dbo].[OlvideMiContraseña]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OlvideMiContraseña]
	-- Add the parameters for the stored procedure here
	@Mail varchar(150)
AS
BEGIN
	SELECT Contraseña FROM Usuario WHERE @Mail=Mail
END
GO
/****** Object:  StoredProcedure [dbo].[Registro]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Registro]
	-- Add the parameters for the stored procedure here
	@Mail varchar(150), @Contraseña varchar(150),  @id_discapacidad int
AS
BEGIN
	INSERT INTO Usuario(Mail, Contraseña, id_discapacidad) VALUES (@Mail, @Contraseña, @id_discapacidad)
END
GO
/****** Object:  StoredProcedure [dbo].[Registro_VerificarExistencia]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Registro_VerificarExistencia]
	-- Add the parameters for the stored procedure here
	@Mail varchar
AS
BEGIN
	SELECT Mail FROM Usuario WHERE @Mail= Mail
END
GO
/****** Object:  StoredProcedure [dbo].[SelectNecesidad]    Script Date: 10/7/2024 10:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SelectNecesidad]
	@id_info_empleado int
AS
BEGIN
	SELECT nombre
	FROM Necesidad
	WHERE id_info_empleado=@id_info_empleado
END
GO
USE [master]
GO
