@{
    ViewData["Title"] = "Home Page";
}


<body id="fondo_fondo">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
<section id="Box">
  <form action='@Url.Action("Login")' method="post" id="form_login">
    <div class="form-config">
    <h3>Login Here</h3>

    < <input type="email" name="Mail" placeholder="Mail" value="yaesaroka@gmail.com" required />
        <input type="password" name="Contraseña" placeholder="Contraseña" value="123645" required />
 
    <button id="butttt">Log In</button>
    <div class="social">
      <div class="go"><i class="fab fa-google"></i> Google</div>
    </div>
    </div>
  </form>
</section>
</div>

<section id="sign-up-box">
  <div> 
     <a href='@Url.Action("Registro")' onclick="toggleForm();" <button class="round-button">¿Estás empezando a usar LinkedIn? Únete ahora.</button></a>
  </div>

</section>
</body>
