@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <form action='@Url.Action("Login")' method="post">
              <img src="/Img/logologin.png" width="250px">
            <h2 style="color: #E0BD9F;">INICIAR SESIÓN</h2>
            <hr style="border-color: #E0BD9F; border-width: 2px; margin: 10px 0;">
            
            <input class="IngresoUsername"  type="text" name="Username" placeholder="Usuario" value="tomi_2" required/>
            <input type="password" name="Contraseña" placeholder="Contraseña" value="tommm111" required/>
            </p>
            <p>
                <button class="round-button" type="submit">Iniciar Sesión</button>
            </p>
            <p class="signup">
               ¿No tenés una cuenta?
            </p>

              <a href="#" onclick="toggleForm();" <button class="round-button">REGISTRATE.</button></a>
            </p>
    </form>
</div>
